<main>
  <%= render "layouts/header" %>

  <div class="container px-4 py-2" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 mb-4">
      <div class="col">
        <a href="/01_08_2022">
          <div class="h-100 overflow-hidden rounded-4 shadow-lg">
            <%= image_tag "01_08_2021/1.jpg", class: "w-100" %>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="/02_08_2022">
          <div class="h-100 overflow-hidden rounded-4 shadow-lg">
            <%= image_tag "02_08_2021/4.jpg", class: "w-100" %>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="/05_08_2022">
          <div class="h-100 overflow-hidden rounded-4 shadow-lg">
            <%= image_tag "05_08_2021/1.jpg", class: "w-100" %>
          </div>
        </a>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</main>
