<main>
  <%= render "layouts/header" %>

  <div class="container px-4 py-2" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 mb-4">
      <div class="col">
        <%= link_to categories_family_url, class: "text-decoration-none" do  %>
        <div class="card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg" style="background-image: url(<%= image_path("preview/family.jpg") %>);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Сімейна</h2>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col">
        <%= link_to categories_individual_url, class: "text-decoration-none" do  %>
        <div class="card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg" style="background-image: url(<%= image_path("preview/individual.jpg") %>);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Індивідуальна</h2>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col">
        <%= link_to categories_wedding_url, class: "text-decoration-none" do  %>
        <div class="card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg" style="background-image: url(<%= image_path("preview/wedding.jpg") %>);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Весільна</h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 mb-4">
      <div class="col">
        <%= link_to categories_love_story_url, class: "text-decoration-none" do  %>
        <div class="card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg" style="background-image: url(<%= image_path("preview/love_story.jpg") %>);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Любовна історія</h2>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

  <%= render "layouts/footer" %>
</main>
